.titulo-tiempo{
	width: 100%;
	height: auto;
	color: #D10003;
	font-size: 35px;
	padding-left: 10px;
	padding-right: 10px;
}

.sub-tiempo{
	font-size: 19px;
	padding-left: 10px;
	padding-right: 10px;
}

.tabla{
	border: black 1px solid;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
}

.bass{
	width: 1%;
}

.tabla,td{
	height: 25px;
	max-height: 25px;
	min-height: 25px;
	width: 70;
	max-width: 70;
	min-width: 70;
	border: black 1px solid;
}